<div class="container m-4">
  <h1>Tell me more about this Restaurant ?</h1>
  <hr>
  <%= render "form", restaurant: @restaurant %>
  <hr>
  <%= link_to "Go home", restaurants_path, class: "btn btn-primary"%>
</div>